Repository MaterialDesignInXAML/MaterialDesignInXamlToolkit, pull requests merged in 2019-12, with the labels that each got.

#1540 Fixing TextAlignment for NumericUpDown control
  MahMaterialDragablzMashUp/Mah.xaml
  MahMaterialDragablzMashUp/MahAppsDragablzDemo.csproj
  MaterialDesignThemes.MahApps/Themes/MaterialDesignTheme.MahApps.Defaults.xaml
  MaterialDesignThemes.MahApps/Themes/MaterialDesignTheme.MahApps.NumericUpDown.xaml
Labels: mdix.mahapps

#1541 Default IsMonitoring to true
  MahMaterialDragablzMashUp/Mah.xaml
  MaterialDesignThemes.MahApps/Themes/MaterialDesignTheme.MahApps.Defaults.xaml
  MaterialDesignThemes.MahApps/Themes/MaterialDesignTheme.MahApps.TextBox.xaml
Labels: mdix.mahapps

#1501 Filled and Outlined DatePicker styles
  MainDemo.Wpf/Pickers.xaml
  MaterialDesignThemes.Wpf/Themes/MaterialDesignTheme.DatePicker.xaml
  MaterialDesignThemes.Wpf/ValidationAssist.cs
Labels: enhancement

#1547 Fixing the underline behavior of the numeric up down control
  MaterialDesignThemes.MahApps/MaterialDesignAssist.cs
  MaterialDesignThemes.MahApps/Themes/MaterialDesignTheme.MahApps.NumericUpDown.xaml
Labels: mdix.mahapps

#1548 Fixing nuget minor version.
  MaterialDesignThemes.MahApps.nuspec
  MaterialDesignThemes.nuspec
Labels: mdix.mahapps

#1575 Fix FilledTextField hint margin issue
  MaterialDesignThemes.Wpf/Themes/MaterialDesignTheme.TextBox.xaml
Labels: bug

#1578 Setting min height of popup
  MaterialDesignThemes.Wpf/Themes/MaterialDesignTheme.ComboBox.xaml
Labels: bug

#1579 Changing TimePicker text box to a derived class
  MaterialDesignThemes.Wpf/Themes/MaterialDesignTheme.TimePicker.xaml
  MaterialDesignThemes.Wpf/TimePicker.cs
  MaterialDesignThemes.Wpf/TimePickerTextBox.cs
Labels: bug
