Repository MaterialDesignInXAML/MaterialDesignInXamlToolkit, pull requests merged in 2020-03, with the labels that each got.

#1677 Fixing MahApps NuSpec
  MaterialDesignThemes.MahApps.nuspec
Labels: mdix.mahapps

#1672 ScrollViewer Improvement
  MainDemo.Wpf/MainWindow.xaml
  MaterialDesignThemes.Wpf/ScrollViewerAssist.cs
  MaterialDesignThemes.Wpf/Themes/MaterialDesignTheme.ScrollViewer.xaml
Labels: enhancement

#1696 Add auto focus to demo items search box
  MainDemo.Wpf/MainWindow.xaml
  MainDemo.Wpf/MainWindow.xaml.cs
Labels: demo app

#1706 Add filled combo box
  MainDemo.Wpf/Fields.xaml
  MaterialDesignThemes.Wpf/ComboBoxPopup.cs
  MaterialDesignThemes.Wpf/Themes/MaterialDesignTheme.ComboBox.xaml
Labels: demo app, enhancement
