Repository MaterialDesignInXAML/MaterialDesignInXamlToolkit, pull requests merged in 2021-07, with the labels that each got.

#2359 Update Treeview to offer new options
  MainDemo.Wpf/Trees.xaml
  MaterialDesignThemes.Wpf/Themes/MaterialDesignTheme.TreeView.xaml
  MaterialDesignThemes.Wpf/TreeViewAssist.cs
Labels: enhancement, release notes

#2374 Updates to demo app to showcase some new features
  MainDemo.Wpf/Drawers.xaml
  MainDemo.Wpf/Pickers.xaml
Labels: demo app

#2376 Expand Demo to Include Secondary Variants for Buttons + New 'Paper' Button
  MainDemo.Wpf/Buttons.xaml
  MainDemo.Wpf/Domain/MainWindowViewModel.cs
  MainDemo.Wpf/MainWindow.xaml
  MaterialDesignThemes.Wpf/Themes/MaterialDesignTheme.Button.xaml
Labels: demo app, enhancement, release notes

#2380 Remove un-used resources
  MainDemo.Wpf/Buttons.xaml
Labels: demo app

#2387 Add ShowSelection Property to ListBoxItem
  MainDemo.Wpf/Lists.xaml
  MaterialDesignThemes.Wpf/ListBoxItemAssist.cs
  MaterialDesignThemes.Wpf/Themes/MaterialDesignTheme.ListBox.xaml
  MaterialDesignThemes.Wpf/TreeViewAssist.cs
Labels: enhancement
